body{
    font-family: 'Roboto';
    background-color: #FAFAFA;
    
}
 /* TOPO DO INSTAGRAM */
.top {
    height: 54px;
    background-color: #FFFFFF;
    display:flex;
    justify-content: center;
    border-bottom: 1px solid #DBDBDB; 
    right: auto;
    left: auto;  
    top:0;
    z-index: 5;
}

.topo-central{
    width: 935px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.icones-esquerda {
    height: 54px;
    background-color: #FFFFFF;     
    display:flex;
    align-items: center;
}


.icones-meio {
    height: 54px;
    max-width: 215px;
    background-color: #FFFFFF;
    
    display:flex;
    align-items: center;
}

.icones-direita {
    height: 54px;
    background-color: #FFFFFF;
    width:143.18px;
    display:flex;
    align-items: center;
}
.logo-instagram{
    background-color: #FFFFFF;
    height: 22px;
    width: 22px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid #DBDBDB;
    
}
.instagram{
    background-color: #FFFFFF;
    height: 29px;  
        
}

.instagram img {
    padding-top: 5px;
    height: 29px;
    margin-left: 10px;    
}

.instagram-mobile{
    padding-top: 5px;
    height: 29px;
    display: none;
}

.barra-pesquisar{
    border:1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 11px;
    background-color: #FAFAFA;
    height: 28px;
    width: 215px;
    display:flex;
    justify-content: center;
    align-items : center;
    color: #979797;

}

.icones-direita{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 143.17px;     
}

.plane{
Width:17.87px;
Height:17.87px;
}
.compass{
    Width: 16.5px;
    Height:16.5px;
    }
.heart{
    Width:16.5px;
    Height:15.13px;
    }
.person{
    Width:16.5px;
    Height:17.88px;
    } 

.icones-direita-mobile{
    display: none;
}

 /* CONTEÚDO DA PÁGINA */

.barra-debaixo-mobile {
    display: none;
}

.conteudo-da-pagina{    
display:flex;
justify-content: center; 
}

.centro-da-pagina{
 margin-top: 34px;
 display:flex;
 justify-content: space-between;
 width: 935px;  
}

 /* CONTEÚDO POSTS */


.conteudo-esquerda{    
    max-width: 612px;    
}

.caixa-de-stories{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:14px;
    height: 118px;
    border-radius: 3px;
    margin-bottom: 24px;  
    overflow: hidden;
    position:relative; 
    border: 1px solid #DBDBDB;   
}


.caixa-de-stories div{
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}

.primeiro-stories{
    margin-left: 14px;
}

.caixa-de-stories img{     
    height: 56px;
    width: 56px;
}

.stories {
    background-image: url(./img/stories/stories_background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 50%;  
    height: 66px;
    width: 66px;    
}

.caixa-de-stories ion-icon{
    font-size: 26px;
    color: #FFFFFF;
    position:absolute;
    left:579px;
    bottom:auto;
}

.caixa-de-stories p{ 
    text-align: center;   
    margin-top: 5px;
    font-size: 12px;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;       
}


.post{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB; 
    
}

.perfil-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 61px;
}

.profile-e-nome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* max-width: 100%; */
    margin-left: 18.5px;
}
.perfil-post ion-icon{
    margin-right: 18.5px;
    
}

.perfil-post img{
    height: 32px;
    border-radius: 50%;
}
.perfil-post p{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.imagem-post {
    width: 100%;
}

.icones-post{
    font-size: 18px;
    display: flex;
    flex-direction: row;      
    height: 42px;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 17px;
}



.likes-post{
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 17px;
}

.likes-post img{
    height: 20px;
    padding-right: 5px;
}

 /* SIDEBAR */


.conteudo-direita{    
    background-color: #fafafa;    
    width:293px;
    height: 429px;
    position:sticky;
    top:0;
}

.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.perfil h1{
    margin-left: 17px;
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
     
.perfil h2{
    font-weight: 300;
    margin-left: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.sugestoes{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #8E8E8E;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.sugestoes div:nth-child(even){
    color: #262626;
}

.perfis{
    margin-top: 17px;
    display: column;
}

.perfis > div{
    margin-bottom: 17px;
}

.perfis img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.perfis  div{   
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
 
.perfis-esquerda{
    display: flex;    
    justify-content: flex-start;
    align-items: center;
}

.perfis-esquerda  div:last-child{
    display: flex;  
    flex-direction: column; 
    align-items: flex-start; 
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    margin-left: 11px;
}

.perfis-esquerda h1{
    color: #262626;
    font-weight: 500;  
    line-height: 14px;
}

.perfis-esquerda h2{
    color:#959595;
    line-height: 14px;
    font-weight: 400;
}

.perfis-menores > div:last-child{
    color:#1190dd;
    font-size: 11px;
}

.sobre {
    color:#C7C7C7;
    font-size: 11px;
    font-weight: 400;
}
.versao {
    color:#C7C7C7;
    font-size: 11px;
    font-weight: 400;
    margin-top: 18px;
}
