.barra-pesquisar{
    display: none;
}

.instagram{
    display: none;
}

.logo-instagram{
    border-right: none;
}

.caixa-de-stories{
    background-color: #FAFAFA;
    border: none;
}
.caixa-de-stories ion-icon {
display: none;
}

.centro-da-pagina{
    width: 100%;
    margin:0;
}

.conteudo-da-pagina{
    width: 100%;
    margin:0;
}
.logo-instagram{
    margin-left: 21.38px;
}

.icones-direita{
    display: none;
}

.icones-direita-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22.06px;
}


.instagram-mobile{
    display: block;
    align-items: center;
    justify-content: space-evenly;
    height: 29px;  
    padding: 0;     
}

.barra-debaixo-mobile {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: rgba(255, 255, 255,1);
    border: 1px solid #DBDBDB;  
    z-index: 5;  
}



